<!DOCTYPE html>
<html>
  <head>
    <title><%= startupData.startup_name %> - Add Topic </title>
    <meta charset="UTF8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/memberRegister.css" />
    <link rel="stylesheet" href="/css/startupRegister.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <!-- <link rel="stylesheet" href="website.css"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/af3eeee1f8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('./_partials/navbar_2') %> 
    
    <!-- ################################### HEADING  -->
    <div class="container py-2">
      <div class="row">
        <div class="col-md-12 heading text-center mt-lg-2 mt-md-1">
          <h3>Analytic Topic Details</h3>
        </div>
      </div>
    </div>

    <!-- ############################################## form -->
    <div class="container cont-height">
      <div class="row shadow">
        <div class="col-md-12">
          <form id="add-type-form" method="post" action="/adddata/timelinegraph/type/<%= startupData.uid %>">
            <div class="row">
              <div class="col-md-6 parent">
                <label class="mb-0 ml-0 star">Title</label><br />
                <input
                  type="text"
                  name="title"
                  placeholder="Title"
                  class="p-1 outline"
                  required
                /><br /><br />

                <fieldset id="type">
                <label class="mb-0 ml-0 star">Type</label><br />
                <input
                type="radio"
                name="type"
                required
                value="Financial"
                id="Financial"
                />
                <label class="mb-0 ml-0 star" for="Financial">Financial</label><br />
                <input
                type="radio"
                name="type"
                required
                value="Corporate"
                id="Corporate"
                />
                <label class="mb-0 ml-0 star" for="Corporate">Corporate</label>
                <br /><br />
                </fieldset>

                <fieldset id="graphs">
                <label class="mb-0 ml-0 star">Graphs</label><br />
                <!-- ******************************** -->
                <input type="radio" name="type_of_graph" required value="Line Graph" id="line graph" />
                <label class="mb-0 ml-0 star" for="Line Graph">Line Graph</label><br />
                <input type="radio" name="type_of_graph" required value="Bar Graph" id="bar graph" />
                <label class="mb-0 ml-0 star" for="Bar Graph">Bar Graph</label>
                <br /><br />
                </fieldset>
                <!-- ********************* -->

                <input
                  type="checkbox"
                  name="timeline"
                  id="timeline-checkbox"
                  value="true"
                />
                <label class="mb-0 ml-0 star" for="timeline-checkbox">Timeline</label><br><br>

                </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center mb-3 mt-lg-5 mt-4">
                <input
                  type="submit"
                  class="btn btn-warning py-2 px-5"
                />
               </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./_partials/footer') %> 

    <script src="/js/apiAddresses.js"></script>
    <script>
        const uid = '<%=startupData.uid%>';
        const form = document.getElementById('add-type-form');
        // form.addEventListener('submit',(e)=>{
        //     e.preventDefault();
        //     var dataToSubmit = {
        //         uid: uid,
        //         title: form.elements.title.value,
        //         type: form.elements.type.value,
        //         timeline: form.elements.timeline.checked
        //     };
        //     // console.log(dataToSubmit)

        //     fetch(api_addGraphDataType,{
        //         method:'POST',
        //         body:JSON.stringify(dataToSubmit),
        //         headers:{
        //             'Content-type':'application/json'
        //         }
        //     }).then(res=>{
        //         if(res.redirected) window.location.href = res.url;
        //        // else if(res.status===400) alert('Could not add data')
        //     })
        // })
    </script>
  </body>
</html>
