<!DOCTYPE html>
<html lang="en">

<head>
    <title>CA Details
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/userLogin.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cadetail.css">
</head>

<body>
    <%- include('./_partials/navbar_2') %>

        <% if(isLogin){ %>
            <script>
                document.querySelector('.login-nav').innerText = "PROFILE";
            </script>

            <div class="fluid-container mt-5 d-flex justify-content-center justify-content-lg-end">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle d-lg-none" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= caData.ca_name %>
                    </button>
                    <ul class="dropdown-menu text-left"
                        style="border-radius:10px; box-shadow: 0px 0px 9px 1px rgb(190, 190, 190);"
                        aria-labelledby="dropdownMenuButton1">
                        <li><a href=<%=`/editdata/ca/${caData.ca_id}` %> ><button class="my-2 btn btn-warning">Edit
                                    Profile</button></a></li>
                        <li><a href=<%=`/adddata/profile/ca/${caData.ca_id}` %> ><button
                                    class="my-2 btn btn-warning">Edit Profile Pic</button></a></li>
                        <% if(caData.linkedin_url){ %>
                            <li><a href=<%=`https://${caData.linkedin_url}` %> ><button
                                        class="my-2 btn btn-warning">View LinkedIn Profile</button></a></li>
                            <% } %>
                                <li>
                                    <button class="logout-btn my-2 btn btn-warning px-2 py-1 mt-2">Logout</button>
                                </li>

                    </ul>
                </div>
            </div>
            <% } %>


                <div id="parent-row">

                    <% if(isLogin) {%>
                        <link rel="stylesheet" href="/css/sidebar.css">
                        <div class="fluid-container mx-2 py-2 sidebar-container ">
                            <ul>
                                <li><a href=<%=`/editdata/ca/${caData.ca_id}` %> ><button class="my-2">Edit
                                            Profile</button></a></li>
                                <li><a href=<%=`/adddata/profile/ca/${caData.ca_id}` %> ><button class="my-2">Edit
                                            Profile Pic</button></a></li>
                                <% if(caData.linkedin_url){ %>
                                    <li><a href=<%=`https://${caData.linkedin_url}` %> ><button class="my-2">View
                                                LinkedIn Profile</button></a></li>
                                    <% } %>
                                        <li>
                                            <button class="logout-btn my-2 px-2 py-1 mt-2">Logout</button>
                                        </li>
                            </ul>
                        </div>

                        <!-- Logout button script -->
                        <script>
                            const logoutBtn = document.querySelectorAll(".logout-btn");

                            logoutBtn.forEach((item) => {
                                item.addEventListener('click', () => {
                                    fetch("<%-logoutLink%>", { method: "DELETE" })
                                        .then((res) => {
                                            if (res.redirected) window.location.href = res.url;
                                        });
                                });
                            })
                        </script>
                        <% } %>


                            <div class="container mx-auto flex-row justify-content-center align-items-center">
                                <div class="card  pe-3 my-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-7 pe-3 mt-3">
                                                <h5 class="card-title">CA Details:
                                                </h5>
                                                <p class="card-text">
                                                    <strong>Name:</strong>
                                                    <%= caData.ca_name %>
                                                </p>
                                                <p class="card-text">
                                                    <strong>Certificate No.:</strong>
                                                    <%= caData.certificate_no %>
                                                </p>
                                                <p class="card-text">
                                                    <strong>Phone:</strong>
                                                    <%= caData.mobile_no %>
                                                </p>
                                                <p class="card-text">
                                                    <strong>LinkedIn URL:</strong>
                                                    <%= caData.linkedin_url %>
                                                </p>

                                            </div>
                                            <div class="col-md-3 ms-3">
                                                <img src=<%=caData.pic_url %> alt="CA_image" class ="
                                                img-thumbnail
                                                "/>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>




                <!-- Experience Container  -->
                <div class="container my-3 ms-4 justify-content-center align-items-center ">
                    <div class="row ms-3 justify-content-center align-items-center">
                        <div class="contents rounded border my-3" id="contents">
                            <div class="heads flex-row">
                                <h5 class="title my-2 text-center font-weight-bold">Experience
                                    <% if(isLogin) { %>
                                        <button class="btn btn-warning mt-1 mx-5" id="ca-btn">Add</button>
                                        <% } %>
                                </h5>
                            </div>

                            <style>
                                .dis-class {
                                    display: none;
                                }
                            </style>

                            <div class="container p-2 my-1 ca-add-container">
                                <div class="main-container carousel2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form method="post" id="experience-form"
                                                action=<%=`/adddata/ca/${caData.ca_id}/addexperience`%>>
                                                <div class="form-group m-2">
                                                    <label for="certificate_no">Certificate No:</label>
                                                    <input class="form-control" id="certificate_no"
                                                        name="certificate_no" />
                                                </div>
                                                <div class="form-group m-2 py-2">
                                                    <label for="certificate_upload">Upload Certificate</label>
                                                    <input class="form-control" id="certificate_upload" type="file"
                                                        name="certificate" />
                                                </div>
                                                <div class="form-group m-2 py-2">
                                                    <textarea class="form-control"
                                                        placeholder="Tells us about your experience " rows="6" col="10"
                                                        name="experience"></textarea>
                                                </div>
                                                <div class="col-md-12 text-sm-right text-center">
                                                    <input type="submit" class="btn my-4 btn-warning" value="Post">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                var addBtn = document.getElementById('ca-btn');
                                var addContainer = document.querySelector('.ca-add-container');

                                addContainer.classList.add('dis-class');
                                addBtn.addEventListener('click', () => {
                                    addContainer = document.querySelector('.ca-add-container');
                                    addContainer.classList.toggle('dis-class');
                                })
                            </script>

                            <div class="container mx-auto justify-content-center ">
                                <div class="col border bg-dark border-secondary rounded py-2 my-3">
                                    <% caExpData.forEach((item)=> { %>
                                        <p class="px-2 text-white text-justify">
                                            <%= item.experience %>
                                        </p>
                                        <% }) %>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

</body>

</html>