<!DOCTYPE html>
<html>

<head>
  <title>Startup Finacials</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/contact.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/financials.css">
  <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
</head>

<body>

  <%- include('./_partials/navbar_2') %>
    <% if(isAuthenticated){ %>
      <script>
        document.querySelector('.login-nav').innerText = "DASHBOARD";
      </script>
      <% } %>

        <div id="finance">
          <div class="container">
            <h1 class="sub-title">Financials Documents</h1><br>
            <div class="finance-list">
              <div>
                <h2>Prepare</h2>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa expedita ratione iste possimus
                  repellendus dicta!</p> -->
                <a href=<%=`/getdata/startup/${uid}/financials/prepare` %> >Learn more</a>
              </div>
              <div>
                <h2>Pitch_Deck</h2>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa expedita ratione iste possimus
                  repellendus dicta!</p> -->
                <a href=<%=`/getdata/startup/${uid}/financials/pitchDeck` %> >Learn more</a>
              </div>
              <div>
                <h2>Financial_Projections</h2>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa expedita ratione iste possimus
                  repellendus dicta!</p> -->
                <a href=<%=`/getdata/startup/${uid}/financials/projections` %> >Learn more</a>
              </div>
              <div>
                <h2>Application_Manual</h2>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa expedita ratione iste possimus
                  repellendus dicta!</p> -->
                <a href=<%=`/getdata/startup/${uid}/financials/appManual` %> >Learn more</a>
              </div>
              <div>
                <h2>Financial_Projections Form</h2>
                <a href=<%=`/addData/startup/${uid}/financials/projectionsForm` %> >Learn more</a>
              </div>
              <div>
                <h2>Application_Manual Form</h2>
                <a href=<%=`/addData/startup/${uid}/financials/appManualForm` %> >Learn more</a>
              </div>
            </div>
          </div>
        </div>



        <%- include('./_partials/footer') %>

</body>

</html>