<!DOCTYPE html>
<html>

<head>
  <title>Edit Details</title>
  <meta charset="UTF8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/memberRegister.css" />
  <link rel="stylesheet" href="/css/startupRegister.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <!-- <link rel="stylesheet" href="website.css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./_partials/navbar_2') %>

    <!-- ################################### HEADING  -->
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-md-12 heading text-center mt-lg-2 mt-md-1">
          <h3>User Details</h3>
        </div>
      </div>
    </div>

    <!-- ############################################## form -->
    <div class="container cont-height">
      <div class="row shadow">
        <div class="col-md-12">
          <form id="founder-edit-form" method="POST">
            <div class="row">
              <div class="col-md-6 parent">
                <label class="mb-0 ml-0 star">Name</label><br />
                <input type="text" name="member_name" placeholder=" " value=" <%= memberData.member_name %>"class="p-1 outline" required /><br /><br />

                <label class="mb-0 ml-0 star">Phone Number</label><br />
                <input type="number" name="mobile_no" placeholder="" value="<%= memberData.mobile_no %>"class="p-1 outline"
                  required /><br /><br />
              </div>
              <div class="col-md-6">
                <label class="mb-0 ml-0 star">Email</label><br />
                <input type="email" name="member_Email" placeholder="" value="<%= memberData.member_Email %>" class="p-1 outline" required /><br /><br />

                <label class="mb-0 ml-0">LinkedIn Url</label><br />
                <input type="text" name="linkedin_url" placeholder="" value="<%= memberData.linkedin_url %>" class="p-1 outline" /><br /><br />

                <!-- <label class="mb-0 ml-0 star">Job Title</label><br />
                <input
                  type="text"
                  name="designation"
                  placeholder="Job Title"
                  class="p-1 outline"
                  required
                /><br /><br /> -->

                <!-- <label class="mb-0 ml-0 star">Password</label><br />
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  class="p-1 outline"
                  required
                /><br /><br /> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center mb-3 mt-lg-5 mt-4">
                <INPUT TYPE="button"  class="btn btn-warning py-2 px-5" VALUE="Back" onClick="history.go(-1);">
                <input type="submit" class="btn btn-warning py-2 px-5" value="Update" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./_partials/footer') %>

      <script src="/js/apiAddresses.js"></script>
      <script>
        const memberData = <% - JSON.stringify(memberData) %>;
        // console.log(memberData)
        const form = document.getElementById('founder-edit-form');

        // console.log(form.elements)
        form.elements.member_name.value = memberData.member_name;
        form.elements.mobile_no.value = memberData.mobile_no;
        form.elements.member_Email.value = memberData.member_Email;
        form.elements.linkedin_url.value = memberData.linkedin_url ? memberData.linkedin_url : null;

        form.addEventListener('submit', (e) => {
          e.preventDefault();

          var dataToSubmit = {};
          dataToSubmit.member_name = form.elements.member_name.value;
          dataToSubmit.mobile_no = form.elements.mobile_no.value;
          dataToSubmit.member_Email = form.elements.member_Email.value;
          dataToSubmit.linkedin_url = form.elements.linkedin_url.value;

          fetch(api_founderDetailsEdit, {
            headers: { 'Content-Type': 'application/json', mid: memberData.mid },
            method: 'post',
            body: JSON.stringify(dataToSubmit),
          }).then(res => {
            res.text();
            if (res.redirected) window.location.href = res.url;
            else if (res.status == 400) alert("Could not save data");
          });

        })
      </script>
</body>

</html>