<!DOCTYPE html>
<html>
  <head>
    <title>Job Details</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/userLogin.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/af3eeee1f8.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include('./_partials/navbar_2') %>


    <br><br>

    <div class="wrapper" style="border-radius: 20px;">
      <div class="left">
        <img src=<%= startupData.pic_url %> class="img-fluid"  style="min-height: 150px; min-width: 150px;  box-shadow: 0px 3px 5px #276678; border-radius: 50%">
        <h4 style="margin-bottom: 10px; text-transform: uppercase; font-weight: 500;"><%= jobAlert.title %></h4>
        <h6 style="font-size:19px"><%= startupData.startup_name %></h6>
        <p><%= jobAlert.employment_type %> </p>
      </div>
      <div class="right">
        <div class="info">
          <h3>About</h3>
          <div class="info-data">
            <div class="data">
              <h4>Information</h4>
              <p><%= jobAlert.basic_info %></p>
            </div>
              <div class="data">
              <h4>Requirements</h4>
              <p><%= jobAlert.job_req %></p>
            </div>
          </div>
        </div>
        <div class="projects">
          <h3>Needs</h3>
          <div class="projects-data">
            <div class="data">
              <h4>Skills</h4>
              <p><ul class="ml-3">
                <% jobAlert.skills.forEach((item) =>{ %>
                  <li style="list-style: disc;"><%= item %> </li>
              <% }) %> 
              </ul></p>
            </div>
              <div class="data">
              <h4 >Shift</h4>
              <p> <ul class="ml-3">
                <% jobAlert.shift.forEach((item) =>{ %>
                    <li style="list-style: disc;"><%= item %> </li>
                <% }) %> 
            </ul></p>
            </div>
          </div>

        </div>
        <div class="social_media">
          <a href="/login/member"><button class="btn btn-warning" id="apply-btn" style="text-align: right;">Apply</button></a>
        </div>
      </div>
    
  </div>
  <br><br><br>

    <%- include('./_partials/footer') %>

  </body>
</html>
