<!DOCTYPE html>
<html>
  <head>
    <title>Job Details</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/userLogin.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/af3eeee1f8.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <script>
      function changeStatus(){
        fetch('/adddata/jobposts/apply',{
          method: "POST",
          body: JSON.stringify({ 
              jid: '<%- jobAlert.jid %>',
              mid: '<%- userData.mid %>',
              uid: '<%- startupData.uid %>'
           }),
          headers:{
            'Content-type': "application/json",
          }
        })
        .then((res)=>{
          if(res.status === 201)
            document.getElementById("apply-btn").innerHTML = "Applied";
            document.getElementById("apply-btn").onclick = ()=>{alert("You have already applied")};
          if(res.status === 400)
            alert("Could not applied");
        })
      }
    </script>
    <%- include('./_partials/navbar_2') %>

    <div class="container py-5 px-3 my-5 shadow-border" style="border-radius: 8px;">
        <div class="row px-3">
            <div class="col-md-3">
                <img src=<%= startupData.pic_url %> class="img-fluid">
            </div>
            <div class="col-md-5">
                <h3><%= jobAlert.title %></h3>
                <h4><%= startupData.startup_name %> </h4>
                <h5><%= jobAlert.employment_type %> </h5>
            </div>
        </div>
        <div class="row px-3 my-2 d-flex flex-column justify-content-center">
            <p><%= jobAlert.basic_info %></p>
            <p><%= jobAlert.job_req %></p>
            <p>
                <p>Skills Required</p>
                <ul class="ml-3">
                    <% jobAlert.skills.forEach((item) =>{ %>
                        <li style="list-style: disc;"><%= item %> </li>
                    <% }) %> 
                </ul>
            </p>
            <p>
                <p>Shift</p>
                <ul class="ml-3">
                    <% jobAlert.shift.forEach((item) =>{ %>
                        <li style="list-style: disc;"><%= item %> </li>
                    <% }) %> 
                </ul>
            </p>
            <p>
            <p>
                <p>Salary/Stipend</p>
                <ul class="ml-3">
                  <% jobAlert.salary.forEach((item) =>{ %>
                      <li style="list-style: disc;"><%= item %> </li>
                  <% }) %> 
              </ul>

            </p>
            <p>

            <p>
                <p>Duration</p>
                <ul class="ml-3">
                  <% jobAlert.duration.forEach((item) =>{ %>
                      <li style="list-style: disc;"><%= item %> </li>
                  <% }) %> 
              </ul>

            </p>
        </div>
        <div class="row text-right">
            <div class="col-md-10">
                <button class="btn btn-warning" onclick="changeStatus()" id="apply-btn">Apply</button>
            </div>
        </div>
    </div>

    <%- include('./_partials/footer') %>

  </body>
</html>
