<!DOCTYPE html>
<html>
  <head>
    <title>product </title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/userLogin.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/af3eeee1f8.js"
      crossorigin="anonymous"
    ></script>
  </head>
<body>
  
  <%- include('./_partials/navbar_2') %>
  
  
<div class="container d-flex flex-column justify-content-center p-2 my-2">
  <h1 class="text-center my-2">
    <%= startupData.startup_name %> - Product Details
  </h1>
  <% productData.forEach((item,index)=> { %>
     

          <div class="card my-2">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3" style="min-width: 120px">
                   
                  <img src="<%= item.picUrl %>" class="img-fluid"
                  style="min-height: 50px; min-width: 50px"
                   alt="">
                    
                  </div>
                  <div class="col-md-9">
                    <h5 class="card-title"><%= item.product_title %>  </h5>
             <a href="#"  class="btn btn-warning" style="margin-top:  25px;">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

      <% }) %> 
      </div>

      <%- include('./_partials/footer') %>
</body>


  </html>