<!DOCTYPE html>
<html>

<head>
  <title>Edit Details</title>
  <meta charset="UTF8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/startupRegister.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <!-- <link rel="stylesheet" href="website.css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
</head>

<body>

  <%- include('./_partials/navbar_2') %>

    <div class="edit_details">

      <!-- #####################################HEADING  -->
      <div class="container mt-5 py-4">
        <div class="row">
          <div class="col-md-12 heading text-center mt-lg-2 mt-md-1">
            <h3 id="form-heading">Company Detail</h3>
          </div>
        </div>
      </div>

      <!-- ################################################# form  -->
      <div class="container mb-5 mt-1">
        <div class="row shadow">
          <div class="col-md-12" id="form-container">
            <form id="startup-edit-form" action="basicdetails" method="post">
              <div class="row pt-2 py-0">
                <div class="col-md-4">
                  <label for="startup-form" class="mb-0 ml-0 star">Startup Name</label><br />
                  <input type="text" id="startup-name" name="startup_name" placeholder="Startup Name" value="<%= startupData.startup_name %>"
                    class="p-1 outline" required ><br /><br />

                  <label for="contact" class="mb-0 ml-0 star">Phone Number</label><br />
                  <input type="number" id="contact" name="mobile_no" placeholder="Phone Number" class="p-1 outline"  value="<%= startupData.mobile_no %>"
                    required ><br /><br />

                  <!-- <label for="password" class="mb-0 ml-0 star">Password</label
                ><br />
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                  class="p-1 outline"
                  required
                /><br /><br /> -->

                  <!-- <label for="confirm-password" class="mb-0 ml-0 star"
                  >Confirm Password</label
                ><br />
                <input
                  type="password"
                  id="password"
                  name="confirm_password"
                  placeholder="Confirm Password"
                  class="p-1 outline"
                  required
                /><br /><br /> -->

                  <label for="email" class="mb-0 ml-0 star">Email Official</label><br />
                  <input type="email" id="email" name="email_official" placeholder="Email Official"
                    class="p-1 outline star" required  value="<%= startupData.email_official %>" ><br /><br />
                  <label for="email" class="mb-0 ml-0 star">Email Personal</label><br />
                  <input type="email" id="email" name="email_personal" placeholder="Email Personal"
                    class="p-1 outline star" required  value="<%= startupData.email_personal %>" ><br /><br />

                  <label for="state" class="mb-0 ml-0 star">State</label><br />
                  <input type="text" id="state" name="state" placeholder="State" class="p-1 outline"
                    required  value="<%= startupData.state %>" ><br /><br />
                </div>

                <div class="col-md-4 pt-1">

                  <label for="city" class="mb-0 ml-0 star">City</label><br />
                  <input type="text" id="city" name="city" placeholder="City" class="p-1 outline"
                    required  value="<%= startupData.city %>" ><br /><br />

                  <label for="zip-code" class="mb-0 ml-0 star">Zip Code</label><br />
                  <input type="number" id="zipcode" name="zip_code" placeholder="Zip-code" class="p-1 outline"  value="<%= startupData.zip_code %>"
                    required >
                  <br /><br />
                  <label for="message" class="mb-0 ml-0 star">Description Of Idea</label><br />
                  <input type="text" id="message" name="description_of_idea" placeholder="Description Of Idea"  value="<%= startupData.description_of_idea %>"
                    class="p-1 outline" required >
                  <br /><br />

                  <label for="about-company" class="mb-0 ml-0 star">About Company</label><br />
                  <input type="text" id="about-company" name="about_company" placeholder="About Company"  value= "<%= startupData.about_company %>"
                    class="p-1 outline" required >
                  <br /><br />
                </div>

                <div class="col-md-4 pt-1">
                  <label for="website" class="mb-0 ml-0 star">Website</label><br />
                  <input type="text" id="website" name="website_link" placeholder="Website" class="p-1 outline"  value="<%= startupData.website_link %>"
                    required ><br /><br />

                  <label for="start_date" class="mb-0 ml-0 star">Start Date</label><br />
                  <input type="date" id="start_date" name="start_date" class="p-1 outline" required  value="<%= startupData.start_date %>" ><br /><br />

                  <label for="industry-type" class="mb-0 ml-0 star">Industry-Type</label>
                  <select name="Industry" id="industry-type">
                    <option value=<%= startupData.Industry %> selected > <%= startupData.Industry %> </option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Finance">Finance</option>
                    <option value="News-Media">News-Media</option>
                    <option value="Tourism">Tourism</option>
                    <option value="Education">Education</option>
                    <option value="Construction">Construction</option>
                    <option value="Food">Food</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Music">Music</option>
                    <option value="Energy">Energy</option>
                    <option value="Mining">Mining</option>
                    <option value="Marketing and Advertisement">Marketing and Advertisement</option>
                  </select>
                  <br /><br />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-12 text-center">
                  <INPUT TYPE="button"  class="btn btn-warning py-2 px-5" VALUE="Back" onClick="history.go(-1);">
                  <input type="submit" class="btn btn-warning py-2 px-5" value="Update" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ####################footer -->
    <%- include('./_partials/footer') %>

      <script src="/js/apiAddresses.js"></script>
      <script>
        const startupData = <% - JSON.stringify(startupData) %>;
        // console.log(startupData);


        const form = document.getElementById('startup-edit-form');
        // console.log(form.elements.startup_name);
        // console.log(form.elements);

        var d = new Date(startupData.start_date);
        var ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d);
        var mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d);
        var da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d);

        form.elements.startup_name.value = startupData.startup_name;
        form.elements.mobile_no.value = startupData.mobile_no;
        form.elements.email_official.value = startupData.email_official;
        form.elements.email_personal.value = startupData.email_personal;
        form.elements.state.value = startupData.state;
        form.elements.city.value = startupData.city;
        form.elements.zip_code.value = startupData.zip_code;
        form.elements.Industry.value = startupData.Industry;
        form.elements.description_of_idea.value = startupData.description_of_idea;
        form.elements.about_company.value = startupData.about_company;
        form.elements.website_link.value = startupData.website_link;
        form.elements.start_date.value = `${ye}-${mo}-${da}`;

        form.addEventListener('submit', (e) => {
          e.preventDefault();

          var dataToSubmit = {};

          dataToSubmit.startup_name = form.elements.startup_name.value
          dataToSubmit.mobile_no = form.elements.mobile_no.value
          dataToSubmit.email_official = form.elements.email_official.value
          dataToSubmit.email_personal = form.elements.email_personal.value
          dataToSubmit.state = form.elements.state.value
          dataToSubmit.city = form.elements.city.value
          dataToSubmit.zip_code = form.elements.zip_code.value
          dataToSubmit.Industry = form.elements.Industry.value
          dataToSubmit.description_of_idea = form.elements.description_of_idea.value
          dataToSubmit.about_company = form.elements.about_company.value
          dataToSubmit.website_link = form.elements.website_link.value
          dataToSubmit.start_date = form.elements.start_date.value

          fetch("/editData/startup/<%= startupData.uid %>/basicdetails", {
            headers: { 'Content-Type': 'application/json', uid: startupData.uid },
            method: 'post',
            body: JSON.stringify(dataToSubmit),
          }).then(res => {
            res.text();
            if (res.redirected) window.location.href = res.url;
            else if (res.status == 400) alert("Could not save data");
          });
        })

      </script>
</body>

</html>