<!DOCTYPE html>
<html>

<head>
    <title>Startup Finacials</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/fin.css">
    <link rel="stylesheet" href="/css/financials.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/financials.css">
    <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include('./_partials/navbar_2') %>
    <% if(isAuthenticated){ %>
        <script>
            document.querySelector('.login-nav').innerText = "DASHBOARD";
        </script>
    <% } %>

    <% if(locals.appManualData) { %>
    
        <div class="main">
            <div class="hed">
                <p>You are required to answer all the questions in each of the three sections – What are you creating, Start-up organisation, Startup-details. </p>

            </div>
            <div class="rowe">
                <h2>What are you creating </h2>
                
                <p>Please describe your start-up in your own words. Please describe your start-up in your own words. </p>
            <p><%= appManualData.description %></p>

                <p>1.	Describe the problem you have identified and are solving. </p>
                <p><%= appManualData.problem %></p>

                <p>2.	The value of your solution to the customers targeted by you. Identify if possible the basis of your assessment. <br>Share preliminarily information of any trial conducted. </p>
                <p><%= appManualData.solution %></p>

                <p> 3.	Identify the first segment of customers you have targeted to gain early adoption.<br> How did you decide on the early adopter segment?</p>
                <p><%= appManualData.customer_and_adoption %></p>

                <p>4.	Describe how you make money based on your pricing and costs. And how you create demand<br> and acquire customers.  </p>
                <p><%= appManualData.money_making %></p>

            </div>
        </div>

        <div class="main2">
            <div class="head">
                <h2>Start-up Organisation</h2>
                <h3>A few questions about your organisation</h3>
            </div>
            
            <div class="rowe2">
                <p>1.	Name of your company (as registered). If not registered, name identified. </p>
                <p><%= appManualData.company_name %></p>

                <p>2.	The brand name of your product or service. If a brand name is not used<br>
                        please tell us the name that you have identified. </p>
                <p><%= appManualData.brand_name %></p>


                <p>3.	Please describe your role in the start-up.</p>
                <p><%= appManualData.role %></p>
            </div>
                
            <div class="main3">
                <h2>Startup-details</h2>
                <h3>A few questions about funding</h3>
                
                <p>1.	Total investment in your startup.</p>
                <p><%= appManualData.investment_currecy %></p>
                <p><%= appManualData.investment_amount %></p>
                
                <p>2.	What is your funding requirement? </p>
                <p><%= appManualData.required_funding_currecy %></p>
                <p><%= appManualData.required_funding_amount %></p>
                
                <p>3.	Any written commitments for any portion of this funding on date of application? </p>
                <p><%= appManualData.written_commitments_currecy %></p>
                <p><%= appManualData.written_commitments_amount %></p>
                
                <p>3.	Please describe your role in the start-up.</p>
                <p><%= appManualData.challenges %></p>
        
        
            </div>
        </div>
    
    <% }else{ %>
        <p>You have to submit the application manual form.</p>
    <% } %>


    <%- include('./_partials/footer') %>

</body>

</html>