<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script
      src="https://kit.fontawesome.com/af3eeee1f8.js"
      crossorigin="anonymous"
  ></script>
  <title>Timeline - <%= startupData.startup_name %> </title>
  <link rel="stylesheet" href="/css/timeline.css" />
</head>

<body>

  <%- include('./_partials/navbar_2') %>

  <div class="fluid-container my-2  display:flex; ">
    <h1 class="text-center my-2">
      <%= startupData.startup_name %> - Timeline
    </h1>
    <div class="timeline-container" id="timeline-container" style="min-height: 100vh;  display:flex; text-align: center; ">
      <div class="timeline" style="width: 750px;">
        <ul>
          <% foundData.forEach((item,index)=> {%> <% const d=item.date;
          const ye=new Intl.DateTimeFormat('en', { year: 'numeric'
          }).format(d); const mo=new Intl.DateTimeFormat('en', { month:
          'short' }).format(d); const da=new Intl.DateTimeFormat('en', {
          day:'2-digit' }).format(d); %>
          <li>
            <div class="timeline-content">
              <!-- <h3 class="date">20th may, 2010</h3> -->
              <h1><%= `${da}-${mo}-${ye}` %></h1>
              <p><%= item.event_title %></p>
              <% if(item.picUrl){ %> 
              <div>
                <img
                  style="max-height: 145px; width: auto;"
                  class="timeline-img"
                  src=<%= item.picUrl %> 
                  alt="timeline-img"
                />
              </div>
              <% } %> 
            </div>
          </li>

          <% }); %>
        </ul>
      </div>
    </div>
  </div>

  <%- include('./_partials/footer') %>

</body>

</html>