<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
  <title>Timeline - <%= startupData.startup_name %>
  </title>
  <link rel="stylesheet" href="/css/timeline.css" />
  <style>
    body {
      position: relative;
    }
  </style>
</head>

<body>
  <%- include('./_partials/navbar_2') %>

    <div class="fluid-container py-2 timeline-container">   
      
          <div><h1 class="text-center my-2">
            <%= startupData.startup_name %> - Timeline
          </h1>
            <div class="container-1">
              
              <div class="timeline-1">
                <ul>
                  <% foundData.forEach(function(item, index) { %>
                    <% if (index>= 0){ %>
                  <li>
                    <div class="timeline-content">
                      <h2 class="date"><span>DATE - <%= foundData[index].date.toLocaleDateString() %></span></h2>
                      <div class="top">
                        <h1><%= foundData[index].event_title %></h1>
                      </div>
                      <div class="mid">
                        <img src=<%=foundData[index].picUrl %> alt="" />
                        <p>
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim
                          mollitia illum voluptas aut id dignissimos aspernatur
                          architecto porro at ipsam, ea quam delectus, laboriosam
                          voluptatem! Quia quam eligendi molestias quo!
                        </p>
                      </div>
                      <div class="bottom">
                        <h6>read more</h6>
                        <button>Click Here</button>
                      </div>
                    </div>
                  </li>
                  <% } %>
                            <% }); %>
                  
                </ul>
              </div>
            </div>
          </div>
          <br />
          <br />
    </div>


   

    <%- include('./_partials/footer') %>
</body>

</html>